@import url('fonts.css');
html{font-size:18px;}
body{position:relative;display:flex; flex-direction: column; height:inherit;width:100%;
    flex-shrink: inherit;flex-grow: inherit;
    background-image: url(../assets/images/campo\ futbol\ 8-bits.webp);
    background-size:auto;}

header{background: green;color:white;position:fixed;width:100%;
font-family: '8-bits', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;z-index:1000;margin-bottom:0.5%;left:0;top:0.3%;}
main{background: lightgreen  ;position:relative; top:150px;margin:2%;text-align:center;
    font-family:'baloo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif }
footer{position:relative; margin-left:7%;margin-right:7%;margin-top:150px;;text-align:center;
    background:rgb(168, 241, 168); opacity:0.9;
    font-family:'baloo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


/* este es la configuración del header cabecera fixed al viewport */
.balon{width:50px;}
li{list-style:none;float:left;}
a{text-decoration: none;color:white;}
li:hover{transform:scale(1.5);}
#navegacion-menu{position:absolute;right:10%;bottom: 2%;}

/* esta es la edicion del apartado estadisticas */
table{border:2px solid black;width:100%;}
thead{ width:100%;border:1px solid black;font-weight: bolder;}
tbody{ width:100;flex:auto;flex-wrap:nowrap;gap:0.5rem; }
td{border:1px solid black;  }
.info td:nth-child(odd){color:coral;background:gray;}
.info td:nth-child(even){background:coral; color: white;}
.img-jugador{width:64px;border-radius: 14px;}
.titulos{font-weight: 800;background: lightseagreen;}


/* la configuracion del formulario para nuevas solicitudes */
input{margin:5px;padding-left:10px; width:50%;cursor:pointer;border-radius:6px;}
select{background:lightcyan;cursor:pointer;}
input[required]{background:lightcyan;}
input[required]:valid{background:lightgreen;}
input[required]:invalid{background:lightcoral;}
.btn-form:hover{background:lightseagreen;}
input[type="radio"]{width:16px;height:16px;margin-left:20px;margin-right:20px;}
#terminos{width:16px;height:16px;margin-left:20px;margin-right:20px;}
label{font-weight: 600;}




